xsd/currency.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="ValCurs">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="ValType">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="Valute">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Nominal" type="xs:string" />
                                        <xs:element name="Name" type="xs:string" />
                                        <xs:element name="Value" type="xs:decimal" />
                                    </xs:sequence>
                                    <xs:attribute name="Code" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="Type" type="xs:string" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="Date" type="xs:string" use="required" />
            <xs:attribute name="Name" type="xs:string" use="required" />
            <xs:attribute name="Description" type="xs:string" use="required" />
        </xs:complexType>
    </xs:element>
</xs:schema>